.img-holder {
    background-color: black !important;
    border: 1px solid gray;
    border-radius: 10%;
    width: 19vw;
    height: 24vh;
    overflow: hidden;
  }
  img {
    width: 19vw;
    height: 24vh;
  }