<div class="form-holder">
  <h2 mat-dialog-title>Zmień zdjęcie</h2>
  <mat-dialog-actions>
    <form>
        <img class="imgHolder" [src]="imageSrc || '/assets/1avatar.png'" alt="your image" />
        <br />
      <br />
      <label for="picture">Wybierz zdjęcie: </label><br />
      <input
        type="file"
        required
        (change)="handleFileInput($event.target)"
        [formControl]="picture"
        accept="image/png image/jpeg"
      />

      <br />
      <br />
      <div class="button-holder">
        <button (click)="sendFileInput()" mat-stroked-button>
          Zmień zdjęcie
        </button>
      </div>
    </form>
    <br />
  </mat-dialog-actions>
</div>
