<div class="form-holder" *ngIf="postId | async as title">
  <mat-dialog-actions>
    <div class="content">
      <h2>Wybierz zakres rezerwacji</h2>
      <br />
      <div class="selector">
        <mat-form-field>
          <mat-label>Data początkowa</mat-label>
          <input
            matInput
            [matDatepickerFilter]="myFilter"
            [matDatepicker]="picker"
            [(ngModel)]="startDate"
            (dateChange)="updateSecondPicker()"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Data końcowa</mat-label>
          <input
            matInput
            [matDatepickerFilter]="myFilterSecond"
            [matDatepicker]="pickerSecond"
            [(ngModel)]="stopDate"
            (dateChange)="checkedDate()"
            [disabled]="startDate === null"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            [disabled]="startDate === null"
            matIconSuffix
            [for]="pickerSecond"
          ></mat-datepicker-toggle>
          <mat-datepicker
            [disabled]="startDate === null"
            #pickerSecond
          ></mat-datepicker>
        </mat-form-field>
      </div>
      <br />
      <div class="price">
        <h4>Oszacowana cena: {{ totalPrice | async | currency }}</h4>
      </div>
      <div class="buttons">
        <button mat-flat-button (click)="reserve()">Zarezerwuj</button>
        <button color="warn" mat-stroked-button (click)="cancel()">
          Anuluj
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</div>
