<div class="form-holder">
    <h2 mat-dialog-title>Zmień hasło</h2>
    <mat-dialog-actions>
      <form>
        <mat-form-field>
          <mat-label>Stare hasło</mat-label>
          <input
            matInput
            type="password"
            [formControl]="oldpassword"
          />
          @if (oldpassword.hasError('required')) {
            <mat-error>Hasło jest <strong>wymagane!</strong></mat-error>
            } @if (oldpassword.hasError('minlength')) {
            <mat-error
              >Hasło musi mieć minimum <strong>8 znaków!</strong></mat-error
            >
            }
        </mat-form-field>
        <br />
        <br />
        <mat-form-field>
            <mat-label>Nowe hasło</mat-label>
            <input
              matInput
              type="password"
              [formControl]="password"
            />
            @if (password.hasError('required')) {
              <mat-error>Hasło jest <strong>wymagane!</strong></mat-error>
              } @if (password.hasError('minlength')) {
              <mat-error
                >Hasło musi mieć minimum <strong>8 znaków!</strong></mat-error
              >
              }
          </mat-form-field>
          <br />
          <br />
          <mat-form-field>
            <mat-label>Powtórz nowe hasło</mat-label>
            <input
              matInput
              type="password"
              [formControl]="passwordConfirm"
            />
            @if (passwordConfirm.hasError('required')) {
                <mat-error
                  >Powtórzenie hasła jest <strong>wymagane!</strong></mat-error
                >
                } @if (passwordConfirm.hasError('passwordMismatch') &&
                !passwordConfirm.hasError('required')){
                <mat-error>Hasła nie zgadzają się!</mat-error>
                }
          </mat-form-field>
          <br />
          <br />
        <div class="button-holder">
          <button (click)="changePassword()" mat-stroked-button>Zmień hasło</button>
        </div>
      </form>
      <br />
    </mat-dialog-actions>
  </div>
  
  