@defer {
<div class="profile-container-outer">
  <div class="profile-container">
    <div class="title-holder">
      <p>Mój profil</p>
    </div>
    <div class="profile-details" *ngIf="authService.user | async as user">
      <div class="subtitle">Imię</div>
      <div class="changable-property-holder">
        <div class="login-name-holder">
          {{ user.name }}
        </div>
        <br />
        <button
          (click)="openChangeNameDialog('300ms', '150ms')"
          mat-stroked-button
        >
          Zmień imię
        </button>
      </div>
      <br />
      <br />
      <div class="subtitle">Awatar</div>
      <div class="changable-property-holder">
        <div class="avatar-holder">
          <img [src]="'data:image/png;base64,' + user.picture" />
        </div>
        <br />
        <button
          (click)="openChangePictureDialog('300ms', '150ms')"
          mat-stroked-button
        >
          Zmień zdjęcie
        </button>
      </div>
      <br />
      <br />
      <div class="subtitle">Hasło i usuwanie konta</div>
      <div class="changable-property-holder">
        <div>
          <button
            (click)="openDeleteAccountDialog('300ms', '150ms')"
            color="warn"
            mat-stroked-button
          >
            Usuń konto
          </button>
        </div>
        <div>
          <button
            (click)="openChangePasswordDialog('300ms', '150ms')"
            mat-stroked-button
          >
            Zmień hasło
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
} @loading (; minimum 1.5s) {
<div class="spinner-holder">
  <mat-spinner></mat-spinner>
</div>
}
