.posts-container {
  margin: 40px;
  display: flex;
  width: 60vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 80vh;
  background-color: rgba(255, 255, 255, 0.85);
  border: 3px solid rgba(0, 0, 0, 0.12);
  border-radius: 1%;
}
.posts-container-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 75px);
}
.spinner-holder {
  display: flex;
  height: calc(100vh - 75px);
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.background-holder {
  background-image: url("/assets/lrbg.jpg");
  background-position: 25%;
  background-size: cover;
}
.title-holder {
  font-size: 32px;
  font-weight: bold;
  height: 5vh;
}
.post-list-holder {
  min-height: 60vh;
  max-height: 60vh;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;

}
button {
  margin-right: 30px;
  border: 2px solid rgba(0, 0, 0, 0.5) !important;
  background-color: rgba(255, 255, 255, 0.95) !important;
}
li {
  margin-top: 15px;
  text-decoration: none !important;
}
li:hover {
  cursor: pointer;
}
.single-post-holder {
  display: flex;
  flex-direction: column;
  width: 48vw;
  border: 2px solid rgba(0, 0, 0, 0.5) !important;
  background-color: rgba(0, 0, 0, 0.12);
}
.single-post-top {
  padding: 5px;
  display: flex;
  flex-direction: row;
  width: 48vw;
  height: 5vh;
}
.single-post-top-title {
  width: 15vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.single-post-top-category {
  width: 10vw;
  display: flex;
  align-items: center;
}
.single-post-top-place {
  width: 15vw;
  display: flex;
  align-items: center;
}
.single-post-top-price {
  width: 8vw;
  display: flex;
  align-items: center;
  justify-content: end;
}
.single-post-bottom {
  display: flex;
  padding: 5px;
  flex-direction: row;
  width: 48vw;
  height: 25vh;
}
.img-holder {
  background-color: black !important;
  border: 1px solid gray;
  border-radius: 10%;
  width: 19vw;
  height: 24vh;
  overflow: hidden;
}
img {
  width: 19vw;
  height: 24vh;
}
.single-post-bottom-features{
  width: 20vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.single-post-bottom-square-footage{
  width: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subtitle{
  display: flex;
  align-self: center;
  justify-self: center;
  font-weight: bolder;
}
.feature{
  border: 2px solid rgba(0, 0, 0, 0.5) !important;
  border-radius: 15%;
}
