<div class="form-holder" *ngIf="postId | async as title">
  <mat-dialog-actions>
    <mat-form-field>
      <mat-label>Wybierz zakres rezerwacji</mat-label>
      <mat-date-range-input [rangePicker]="picker" [dateFilter]="myFilter">
        <input matInput matStartDate placeholder="od" />
        <input matInput matEndDate placeholder="do" />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker touchUi #picker></mat-date-range-picker>
    </mat-form-field>
  </mat-dialog-actions>
</div>
