<div class="navbar-structure-container">
  <div class="navbar-menu">
    <div class="navbar-menu-left">
      <div class="home-search-container">
        <button
          class="home-button"
          mat-button
          aria-label="Home button"
          [routerLink]="['']"
        >
          <mat-icon class="home-icon">home</mat-icon>
        </button>
        <mat-form-field class="searchbar">
          <input
            matInput
            type="text"
            [disabled]="navbar.inputsDisabled"
            placeholder="Wyszukaj..."
            [formControl]="sideNavbarService.filters.controls.searchPhrase"
          />
          @if (sideNavbarService.filters.controls.searchPhrase) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="
              sideNavbarService.filters.controls.searchPhrase.setValue('')
            "
          >
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
      </div>
    </div>
    <div class="navbar-menu-middle">
      <mat-button-toggle-group
        disabled="{{ navbar.inputsDisabled }}"
        name="fontStyle"
        aria-label="Font Style"
        (change)="onChange()"
        [(ngModel)]="selectedValue"
      >
        <mat-button-toggle value="map"
          ><mat-icon> map</mat-icon></mat-button-toggle
        >
        <mat-button-toggle value="list"
          ><mat-icon>list</mat-icon></mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
    <div class="navbar-menu-right" *ngIf="!(logged | async)">
      <div class="user-panel-section">
        <div class="login-button">
          <button mat-stroked-button [routerLink]="['login']">Logowanie</button>
        </div>
        <div class="register-button">
          <button mat-stroked-button [routerLink]="['register']">
            Rejestracja
          </button>
        </div>
      </div>
    </div>

    <div
      class="navbar-menu-right"
      *ngIf="(logged | async) && (authService.user | async) as user"
    >
      <div class="user-panel-section">
        <button
          mat-button
          class="user-menu-button"
          [matMenuTriggerFor]="addMenu"
        >
          <span class="add-post-holder"
            >Dodaj ogłoszenie &nbsp;
            <mat-icon class="add-post-icon">add</mat-icon></span
          >
        </button>
        <mat-menu #addMenu="matMenu">
          <button
            (click)="this.navbar.navigateToCreateRentPost()"
            mat-menu-item
          >
            Wynajmu
          </button>
          <button
            (click)="this.navbar.navigateToCreateSalePost()"
            mat-menu-item
          >
            Sprzedaży
          </button>
        </mat-menu>

        <button mat-button class="user-menu-button" [matMenuTriggerFor]="menu">
          <div class="user-panel-holder">
            <div class="login-name-holder">
              {{ user.name }}
            </div>
            <div class="login-avatar-holder">
              <img [src]="'data:image/png;base64,' + user.picture" />
            </div>
          </div>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="this.navbar.navigateToProfile()" mat-menu-item>
            Profil
          </button>
          <button (click)="this.navbar.navigateToMyPosts()" mat-menu-item>
            Moje ogłoszenia
          </button>
          <button (click)="this.navbar.navigateToFollowedPosts()" mat-menu-item>
            Obserwowane ogłoszenia
          </button>
          <button mat-menu-item>Rezerwacje</button>
          <button mat-menu-item>Komentarze</button>
          <button
            (click)="this.navbar.navigateToAdminPanel()"
            *ngIf="authService.getRole() === 'Admin'"
            mat-menu-item
          >
            Posty do akceptacji
          </button>
          <button (click)="this.navbar.logout()" mat-menu-item>Wyloguj</button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>
