@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.navbar-structure-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navbar-menu{
  display: flex;
  min-height: 75px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: fit-content;
  border-bottom: 3px solid rgba(0, 0, 0, 0.12);
}

.navbar-menu-left{
  float: left;
  padding: 10px;
  text-align: left;
  align-items: center;
}

.navbar-menu-middle {
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  align-items: center;
}

.navbar-menu-right {
  float: right;
  padding: 10px;
  justify-content: right;
  align-items: center;
  text-align: right;
}

