<div class="navbar-structure-container">
  <div class="navbar-menu">
    <div class="navbar-menu-left">
      <div class="home-search-container">
        <button
          class="home-button"
          mat-button
          aria-label="Home button"
          [routerLink]="['']"
        >
          <mat-icon class="home-icon">home</mat-icon>
        </button>
        <mat-form-field class="searchbar">
          <input
            matInput
            type="text"
            disabled="{{ navbar.inputsDisabled }}"
            placeholder="Wyszukaj..."
            [(ngModel)]="navbar.search_value"
          />
          @if (navbar.search_value) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="navbar.search_value = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
      </div>
    </div>
    <div class="navbar-menu-middle">
      <mat-button-toggle-group
        disabled="{{ navbar.inputsDisabled }}"
        name="fontStyle"
        aria-label="Font Style"
        (change)="navbar.changeType()"
        [(ngModel)]="navbar.selectedValue"
      >
        <mat-button-toggle value="map"
          ><mat-icon> map</mat-icon></mat-button-toggle
        >
        <mat-button-toggle value="list"
          ><mat-icon>list</mat-icon></mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
    <div class="navbar-menu-right" *ngIf="!navbar.isUserLoggedIn()">
      <div class="user-panel-section">
        <div class="login-button">
          <button mat-stroked-button [routerLink]="['login']">Logowanie</button>
        </div>
        <div class="register-button">
          <button mat-stroked-button [routerLink]="['register']">
            Rejestracja
          </button>
        </div>
      </div>
    </div>

    <div class="navbar-menu-right" *ngIf="navbar.isUserLoggedIn()">
      <div class="user-panel-section">
        <button mat-button class="user-menu-button" [matMenuTriggerFor]="menu">
          <div class="user-panel-holder">
            <div class="login-name-holder">
              {{ this.username }}
            </div>
            <div class="login-avatar-holder">a</div>
          </div>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Profil</button>
          <button mat-menu-item>Moje ogłoszenia</button>
          <button mat-menu-item>Śledzone ogłoszenia</button>
          <button mat-menu-item>Rezerwacje</button>
          <button mat-menu-item>Komentarze</button>
          <button (click)="logout()" mat-menu-item>
            Wyloguj
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>
