<div>
    <div class="register-form-container-outer">
      <div class="register-form-container">
        <form  class="register-form" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <mat-label>Imię</mat-label>
            <input
              type="text"
              matInput
              [formControl]="nameFormControl"
              [errorStateMatcher]="matcher"
              placeholder="Andrzej"
            />
            @if (nameFormControl.hasError('pattern')) {
                <mat-error>Dozwolone są jedynie znaki!</mat-error>
                }
            @if (nameFormControl.hasError('required')) {
            <mat-error>Imię jest <strong>wymagane!</strong></mat-error>
            }
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              [formControl]="emailFormControl"
              [errorStateMatcher]="matcher"
              placeholder="email@gmail.com"
            />
            @if (emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')) {
            <mat-error>Wprowadź poprawny adres email!</mat-error>
            }
            @if (emailFormControl.hasError('required')) {
            <mat-error>Email jest <strong>wymagany!</strong></mat-error>
            }
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Hasło</mat-label>
            <input
              type="password"
              matInput
              [formControl]="passwordFormControl"
              [errorStateMatcher]="matcher"
            />
            @if (passwordFormControl.hasError('required')) {
                <mat-error>Hasło jest <strong>wymagane!</strong></mat-error>
                }
            @if (passwordFormControl.hasError('minlength')) {
                <mat-error>Hasło musi mieć minimum <strong>8 znaków!</strong></mat-error>
                }
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Powtórz hasło</mat-label>
            <input
              type="password"
              matInput
              [formControl]="passwordConfirmFormControl"
              [errorStateMatcher]="matcher"
            />
            @if (passwordConfirmFormControl.hasError('required')) {
            <mat-error>Powtórzenie hasła jest <strong>wymagane!</strong></mat-error>
            }
            @if(passwordConfirmFormControl.hasError('matchedpasswords')){
            <mat-error>Hasła nie zgadzają się!</mat-error>
            }
          </mat-form-field>
          <br />
          <div class="button-form-container">
            <button type="submit" mat-stroked-button>Zarejestruj</button>
          </div>
          <br />
          <mat-error *ngIf="this.errorMessage">{{ this.errorMessage }}</mat-error>
        </form>
      </div>
    </div>
    
  </div>
  