
.login-avatar-holder {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.user-panel-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}
