<div class="form-holder">
    <h2 mat-dialog-title>Dodaj post</h2>
    <mat-dialog-content>
        <mat-button-toggle-group
        name="fontStyle"
        aria-label="Font Style"
        [(ngModel)]="selectedValue"
      >
        <mat-button-toggle value="rent"
          >Pod wynajem</mat-button-toggle
        >
        <mat-button-toggle value="sell"
          >Na sprzedaż</mat-button-toggle
        >
      </mat-button-toggle-group>
    </mat-dialog-content>
    <mat-dialog-actions *ngIf="this.checkPostType()">
      <form>
        <mat-form-field>
          <mat-label>Tytuł</mat-label>
          <input
            matInput
            type="text"
            [formControl]="title"
          />
          @if (title.hasError('required')) {
          <mat-error>Kod jest <strong>wymagany!</strong></mat-error>
          }
        </mat-form-field>
        <br />
        <br />
        <mat-form-field>
          <mat-label>Tytuł</mat-label>
          <input
            matInput
            type="text"
            [formControl]="title"
          />
          @if (title.hasError('required')) {
          <mat-error>Kod jest <strong>wymagany!</strong></mat-error>
          }
        </mat-form-field>
        <br />
        <br />
        <div class="button-holder">
          <button  mat-stroked-button>Wyślij kod</button>
        </div>
      </form>
      <br />
    </mat-dialog-actions>
  </div>
  
  