@defer {
<div class="container-outer" *ngIf="this.post | async as post">
  <div class="container-full">
    <div class="subrow-holder">
      <div class="title-buttons-holder">
        <div class="title">
          <h1>{{ post.title }}</h1>
        </div>
        <div class="buttons">
          <mat-icon
            *ngIf="post.user.userId === authService.user.value.userId"
            (click)="editPost(post.postId)"
            >edit</mat-icon
          >
          <mat-icon
            *ngIf="post.user.userId === authService.user.value.userId"
            (click)="deletePost(post.postId)"
            >delete</mat-icon
          >
          <mat-icon
            *ngIf="
              post.user.userId !== authService.user.value.userId &&
              post.isFollowedByUser === true
            "
            (click)="followPost(post.postId)"
            >visibility_off</mat-icon
          >
          <mat-icon
            *ngIf="
              post.user.userId !== authService.user.value.userId &&
              post.isFollowedByUser === false
            "
            (click)="followPost(post.postId)"
            >visibility</mat-icon
          >
        </div>
      </div>
    </div>
    <div class="subrow-holder">
      <div
        class="gallery-holder"
        #container
        [ngStyle]="{ width: 99.8 + '%', height: 60 + '%' }"
      >
        <ng-image-slider
          [images]="this.pictures"
          [infinite]="false"
          [imageSize]="{
            width: container.style.width,
            height: container.style.height
          }"
        ></ng-image-slider>
      </div>
    </div>
  </div>
  <div class="user-container">
    <b>Właściciel</b>
    <div class="img-holder-user">
      <img [src]="'data:image/png;base64,' + post.user.picture" />
    </div>
    <div>{{ post.user.name }}</div>
    <br />
    <b>Kontakt</b>
    <div>{{ post.user.email }}</div>
    <br />
    <b>Rezerwacje</b>
    <button mat-stroked-button>Sprawdź rezerwacje</button>
  </div>
  <div class="double-container">
    <div class="container-60">
      <div class="subrow-holder">
        <h4 class="description">{{ post.description }}</h4>
      </div>
    </div>
    <div class="container-40">
      <div class="subrow-holder">
        <h4>{{ post.mainCategory }}</h4>
      </div>
      <div class="subrow-holder">
        <h4>Cena: {{ post.price | currency : "zł" }}</h4>
        <div class="subrow-holder">
          <h4>Metraż: {{ post.squareFootage | currency : "㎡" }}</h4>
        </div>
        <div class="subrow-holder">
          <h4>Data dodania: {{ post.addDate | date }}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="double-container">
    <div class="container-40">
      <div
        class="map"
        id="map"
        leaflet
        (leafletMapReady)="readyUpMap($event)"
        [leafletOptions]="options"
      ></div>
    </div>
  </div>
</div>
} @loading (; minimum 1.5s) {
<div class="spinner-holder">
  <mat-spinner></mat-spinner>
</div>
}
