.map {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
::ng-deep .leaflet-pane.leaflet-shadow-pane {
  display: none !important;
}
::ng-deep .leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}
