<div class="dialog-body">
  <h2 mat-dialog-title>Resetowanie hasła</h2>
  <mat-dialog-actions>
    <div class="outer-forms">
      <form class="email-send">
        <div class="input-container" [hidden]="disableMail">
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input
              [disabled]="disableMail"
              [hidden]="disableMail"
              matInput
              type="email"
              [formControl]="email"
            />
            @if (email.hasError('email') && !email.hasError('required')) {
            <mat-error>Wprowadź poprawny adres email!</mat-error>
            } @if (email.hasError('required')) {
            <mat-error>Email jest <strong>wymagany!</strong></mat-error>
            }
          </mat-form-field>
        </div>
        &nbsp;
        <div class="button-holder">
            <button
          (click)="sendCode()"
          [disabled]="disableMail"
          [hidden]="disableMail"
          mat-stroked-button
        >
          Wyślij kod
        </button>
        <button
          (click)="disableMail = true"
          [disabled]="disableMail"
          [hidden]="disableMail"
          mat-stroked-button
        >
          Już posiadam kod
        </button>
        </div>
        
      </form>
      <br />
      <br />
      <form [hidden]="!disableMail" class="password-reset">
        <div class="input-container">
        <mat-form-field>
          <mat-label>Kod resetujący</mat-label>
          <input [disabled]="!disableMail" matInput type="text" [formControl]="resetCode" />
          @if (resetCode.hasError('required')) {
          <mat-error>Token jest <strong>wymagany!</strong></mat-error>
          }@if (resetCode.hasError('minlength')) {
          <mat-error>Kod musi mieć <strong>10 znaków!</strong></mat-error>
          } @if (resetCode.hasError('maxlength')) {
          <mat-error>Kod musi mieć <strong>10 znaków!</strong></mat-error>
          }
        </mat-form-field>
        </div>
        <br />
        <div class="input-container">
        <mat-form-field>
          <mat-label>Nowe hasło</mat-label>
          <input [disabled]="!disableMail" matInput type="password" [formControl]="password" />
          @if (password.hasError('required')) {
          <mat-error>Token jest <strong>wymagany!</strong></mat-error>
          }@if (password.hasError('minlength')) {
          <mat-error>Kod musi mieć <strong>10 znaków!</strong></mat-error>
          } @if (password.hasError('maxlength')) {
          <mat-error>Kod musi mieć <strong>10 znaków!</strong></mat-error>
          }
        </mat-form-field>
        </div>
        <br />
        <div class="input-container">
        <mat-form-field>
          <mat-label>Powtórz nowe hasło</mat-label>
          <input [disabled]="!disableMail" matInput type="password" [formControl]="passwordConfirm" />
          @if (passwordConfirm.hasError('required')) {
          <mat-error
            >Powtórzenie hasła jest <strong>wymagane!</strong></mat-error
          >
          } @if (passwordConfirm.hasError('passwordMismatch') &&
          !passwordConfirm.hasError('required')){
          <mat-error>Hasła nie zgadzają się!</mat-error>
          }
        </mat-form-field>
        </div>
        <br />
        <button class="reset-button"
          (click)="resetPassword()"
          [hidden]="!disableMail"
          mat-stroked-button
        >
          Zresetuj hasło
        </button>
      </form>
    </div>
  </mat-dialog-actions>
</div>
