<mat-drawer-container class="sidenavbar-container" autosize>
  <mat-drawer #drawer class="sidenavbar-sidenav" mode="side">
    <mat-form-field>
      <mat-label>Sortuj po:</mat-label>
      <mat-select
        [formControl]="this.sideNavbarService.filters.controls.sortBy"
      >
        <mat-option value="AddDate">Data dodania </mat-option>
        <mat-option value="Price">Cena </mat-option>
        <mat-option value="SquareFootage">Metraż </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-drawer>

  <button
    type="button"
    class="sidenav-toggle-button"
    mat-button
    (click)="drawer.toggle()"
  >
    <mat-icon class="sidenav-toggle-button-content">menu</mat-icon>
  </button>
  <app-layout> </app-layout>
</mat-drawer-container>
